*{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.container{
    background-color: #e3fcbb;
    height: auto;
    text-align: center;
    margin: 10px;
    padding: 10px; 
    font-size: 20px;  
}
.title{
    
    margin: 10px;
}
#taskList{
    list-style-type: none;
}
.card-header{
    padding: 20px ;
}
.group-list,
#emptyList,
.container, 
.addTaskList{
    width: 600px;  
    margin: 5px -40px;
    border-radius: 10px;
    border: 2px solid;
}
#emptyList{
    background-color: rgba(0, 253, 253, 0.712);
    height: 100px;
    text-align: center;
    font-size: 30px;
    padding: 20px 0;

}
.group-list{
    display: flex;
    justify-content: space-between;
    background-color: rgba(181, 247, 247, 0.712);
    height: 55px;
    font-size: 20px;
}
.task-item__buttons{
    display: flex;
    flex-direction: column;
    /* margin: 5px ;    */
}
.taskInput{
    height: 100px;
    display: flex;
    justify-content: space-between;
}
.task-stats{
    display: flex;
    justify-content: space-between;
}
.task-title{
    overflow: auto;
    padding: 10px;
    
}
.task-title--done {
    text-decoration: line-through;
    color: #CDCDCD;
    display: block;
}

.btn-add{
    font-size: 15px;
    color: #2603c2;
    font-weight: bold;
}
.btn-close{
    font-size: 15px;
    color: #e90505;
    font-weight: bold;
}
.btn-action{
    border-radius: 5px;
    margin: 2px 2px 0;
    
}
.addTaskList{
    background-color: #b4ff89;
    height: auto;
    margin:10px 0px;
    font-size: 20px;
}
 
#input{
    width: 500px;
    height: 50px;
    font-size: 20px;
    margin:30px 10px;
    padding: 0 10px;
    border-radius: 10px;

}
.btn{
    margin:30px 10px 20px 10px;
    border-radius: 10px;
  }
/* у команды приоритет над всеми остальными и её нужно исполнять */
.none {
    display: none !important;
  }