*{
    margin: 0;
}
body {

  }
.container{
    border: 1px solid;
    background-color: #e3fcbb;
    width: 600px;
    height: auto;
    text-align: center;
    margin: 10px;
    padding: 10px;
   
}
#taskList{
    list-style-type: none;
    font-size: 40px;
}

#emptyList{
    background-color: rgba(0, 253, 253, 0.712);
    width: 600px;
    height: 100px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid;
    margin: 5px -40px;
}
.group-list{
    display: flex;
    justify-content: space-between;
    background-color: rgba(167, 243, 243, 0.712);
    width: 600px;
    height: 50px;
    margin: 5px -40px;
    border-radius: 10px;
    border: 1px solid;
}
.task-item__buttons{
    background-color: rgb(140, 127, 255);
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.btn-add{
    font-size: 15px;
    color: #2603c2;
    font-weight: bold;


}
.btn-close{
    font-size: 15px;
    color: #e90505;
    font-weight: bold;
}
.addTaskList{
    background-color: #b4ff89;
    width: 600px;
    height: auto;
    margin:10px 0px;
    border-radius: 10px;
    border: 1px solid;
    font-size: 20px;
}
.taskInput{
    height: 100px;
    display: flex;
    justify-content: space-between;
} 
#input{
    width: 500px;
    height: 50px;
    font-size: 20px;
    margin:30px 10px;
    padding: 0 10px;
    border-radius: 10px;

}
.btn{
  margin: 10px;
}
.task-stats{
    display: flex;
    justify-content: space-between;

}
/* у команды приоритет над всеми остальными и её нужно исполнять */
.none {
    display: none !important;
  }